:root {
  --white:  #{$white};

  --royal-blue:  #{$royal-blue};
  --brand-blue:  #{$brand-blue};

  --gray-bg:  #{$gray-bg};
  --gray-border:  #{$gray-100};

  --gray-100:  #{$gray-100};
  --gray-200:  #{$gray-200};
  --gray-300:  #{$gray-300};
  --gray-400:  #{$gray-400};
  --gray-500:  #{$gray-500};
  --gray-600:  #{$gray-600};
  --gray-700:  #{$gray-700};
  --gray-800:  #{$gray-800};
  --gray-900:  #{$gray-900};

  --black:  #{$black};
}

:root [data-theme="dark"] {
  --white: #19222B;
  --black: #fff;
}

body[data-theme="dark"] {
  background: var(--white);
  color: var(--black);
}

[data-theme="dark"] .logo-wrap svg path {
  fill: #fff;
}

body.dark {
  --white: #222;
}

.logo-page {
  background: var(--white);
  border-bottom: 1px solid var(--gray-border);
}
