.alert {
  background: $white;
  color: inherit;
  border-radius: 0;

  @each $color,
  $value in $theme-colors {
    &-#{$color} {
      & .alert-heading {
        color: $value;
      }

      border-color: rgba($value, 0.2);
      border-left-color: $value;
      border-width: 1px 1px 1px 6px;
      border-radius: 6px;
      box-shadow: $box-shadow;
    }
  }
}
