.methods {
  &-wrapper {}

  &-tabs {}
  
  &-content {}
}

.content-wrapper .endpoint-path {
  display: block;
  padding: .5rem 1rem;

  line-height: 24px;
  
  background: var(--gray-100);
  border-radius: 10px;
}

.nav-pills#requestResponses .nav-link.active,
.nav-pills#requestResponses .show>.nav-link {
  background: var(--gray-100);
  color: var(--black);
  font-weight: $font-weight-bold;
}
