.section-index {

  .entry {
    margin: 16px 0;
    padding: 2rem 1rem 1.3rem;

    background-color: var(--white);
    border: 1px solid rgba(59,83,104,0.10);
    box-shadow: 0 2px 4px 0 rgba(40,53,66,0.03), 0 5px 8px 0 rgba(102,117,132,0.11);
    border-radius: 10px;
  }

  h5 {
    margin-bottom: 0;

    a {
      font-weight: $font-weight-bold;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}
