openapi: 3.0.0
info:
  title: opsramp-automation
  version: 2.0.0
  description: API Documentation
  contact:
    name: OpsRamp Support
    email: support@opsramp.com
    url: https://www.opsramp.com/about-opsramp/contact-us/

tags:
  - name: agents-gateways
    description: Example description.
    externalDocs:
      url: https://docs.opsramp.com/api/agents-gateways/
  - name: alerts
  - name: automation
  - name: components
  - name: exports
  - name: integrations
  - name: knowledge-base
  - name: metrics
  - name: monitoring
  - name: patching
  - name: resource-management
  - name: tenancy-access-controls
  - name: tickets

servers:
  - url: https://api.opsramp.com
    description: Partner - All Others
  - url: https://{subdomain}.api.opsramp.com
    description: Partner or Client custom branded sub-domain
    variables:
      subdomain:
        default: demo
        description: Custom sub-domain assigned to the client

paths:
  /auth/oauth/token:
    post:
      summary: Get OAuth2 access token with client credentials
      description: This endpoint is used to generate an access token using client credentials.
      tags:
        - alerts
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                client_id:
                  type: string
                  description: Client ID (key)
                client_secret:
                  type: string
                  description: Secret Key generated along with token (secret).
                grant_type:
                  type: string
                  description: Credentials of client.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string
                  expires_in:
                    type: string
                  scope:
                    type: string
              examples:
                example-1:
                  value:
                    access_token: 6b4a5f03-7d49-4915-9792-2d964806cbd1
                    token_type: bearer
                    expires_in: 5999
                    scope: read write
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
              examples:
                example-1:
                  value:
                    error: unsupported_grant_type
                    error_description: 'Unsupported grant type: user_password'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
              examples:
                example-1:
                  value:
                    error: unauthorized
                    error_description: Bad API credentials
  # Agents and Gateways
  /api/v2/applicationservice:
    summary: Status, start, and stop service
    description: |-
      This endpoint is used to get the service status and to start and stop application services.

      An access token must be generated to use this API.

      Supported services are network, squid, postgresql, vprobe, and ntp.
    $ref: './agents-gateways/applicationservice.yaml'
  /api/v2/download/gateway/{packageName}:
    summary: Download gateway
    description: This API is used to download gateway files from the OpsRamp download server.
    $ref: './agents-gateways/download-gateway-packagename.yaml'
  /api/v2/externalproxy:
    summary: Set external proxy connection
    description: |-
      This endpoint is used to configure the external proxy connection on the gateway.

      An access token must be generated to use this API.
    $ref: './agents-gateways/externalproxy.yaml'
  /api/v2/generalinfo:
    summary: Get gateway information
    description: This endpoint is used to get general information from the gateway. This includes appliance details and network information.
    $ref: './agents-gateways/generalinfo.yaml'
  /api/v2/getntpdetails:
    summary: Get NTP details
    description: This endpoint is used to get the NTP details from the gateway.
    $ref: './agents-gateways/getntpdetails.yaml'
  /api/v2/tenants/{tenantId}/agents/{platform}/download/{package-name}:
    summary: Download agent for Linux
    description: |-
      This endpoint is used to download the agent for Linux resources.

      This usually follows calling the Get Agent Package for Linux API.

      1. To capture the agent file: Use the package name from the response headers with the specific header package-name. The content of the file is available in the response body.
      2. Create a file with the same name as provided in the header and then write the contents of the response body into the file.
    $ref: './agents-gateways/tenants-tenantId-agents-platform-download-package-name.yaml'
  /api/v2/tenants/{tenantId}/agents/{agentversion}/resourcesCountByAgentVersion:
    summary: Get agent count by agent version
    description: This endpoint is used to retrieve the number of installed agent resources by agent version.
    $ref: './agents-gateways/tenants-tenantId-agents-agentversion-resourcesCountByAgentVersion.yaml'
  /api/v2/tenants/{tenantId}/agents/deployAgentsScript:
    summary: Download agent installation script for Linux
    description: |-
      This endpoint is used to download the agent installation script for Linux resources.

      This returns the JSON payload containing package name, package size, package checksum, and the package S3 bucket URL to directly download the agent.
    $ref: './agents-gateways/tenants-tenantId-agents-deployAgentScript.yaml'
  /api/v2/tenants/{tenantId}/agents/{platform}/info:
    summary: Get agent package for Linux
    description: |-
      This endpoint is used to download the agent for Linux resources. This is usually followed by an API call to Download Linux Agent.

      Returns the JSON payload containing package name, package size, package checksum. The response also contains package S3 bucket URL for downloading the agent directly.
    $ref: './agents-gateways/tenants-tenantId-agents-platform-info.yaml'
  /api/v2/tenants/{tenantId}/agentPolicies/{policyId}/devices:
    summary: Assign agent policy for resources
    description: The endpoint to assign agent policy for resources.
    $ref: './agents-gateways/tenants-tenantId-agentPolicies-policyId-devices.yaml'
  /api/v2/tenants/{tenantId}/agentProfiles/{profileId}/devices:
    summary: Assign agent profile for resources
    description: |-
      This endpoint is used to assign an agent profile for resources.
    $ref: './agents-gateways/tenants-tenantId-agentProfiles-profileId-devices.yaml'
  /api/v2/tenants/{tenantId}/agents/windows:
    summary: Download agent for Windows
    description: |-
      This endpoint is used to download the agent for Windows resources.

      This returns the JSON payload containing package name, package size, package checksum, and the package S3 bucket URL to directly download the agent.
    $ref: './agents-gateways/tenants-tenantId-agents-windows.yaml'
  /api/v2/registration:
    summary: Register gateway
    description: This endpoint is used to register the gateway.
    $ref: './agents-gateways/registration.yaml'
  /api/v2/proxy={action}:
    summary: Turn on and off Squid proxy service
    description: This endpoint is used to turn on and off the Squid proxy server on the gateway.
    $ref: './agents-gateways/proxy.yaml'
  /api/v2/apiTokenGen:
    summary: Generate access token for gateway
    description: |-
      This endpoint is used to generate an access token on the gateway.

      An access token is needed to:

      - Register the gateway.
      - Use all gateway-related activities.
    $ref: './agents-gateways/apiTokenGen.yaml'
  /api/v2/networksettings:
    summary: Set network settings
    description: This endpoint is used to specify the network settings on the gateway.
    $ref: './agents-gateways/networksettings.yaml'
  /api/v2/nginx:
    summary: Status and restart NGINX service
    description: This endpoint is used to get the NGINX service status and to restart the NGINX service on the gateway.
    $ref: './agents-gateways/nginx.yaml'
  /api/v2/ntpmanualconfig:
    summary: Manually set NTP date and time
    description: This endpoint is used to manually set the NTP date and time on the gateway.
    $ref: './agents-gateways/ntpmanualconfig.yaml'
  /api/v2/ntpservice:
    summary: Start and stop NTP service
    description: This endpoint is used to start and stop the NTP service on the gateway.
    $ref: './agents-gateways/ntpservice.yaml'
  /api/v2/ntpupdateips:
    summary: Set NTP servers
    description: This endpoint is used to update the NTP server IP addresses on the gateway.
    $ref: './agents-gateways/ntpupdateips.yaml'
  /api/v2/ntpsyncips:
    summary: Synchronize NTP servers
    description: This endpoint is used to synchronize the time from the NTP servers on the gateway.
    $ref: './agents-gateways/ntpsyncips.yaml'
  /api/v2/restartnetwork:
    summary: Restart network service
    description: This endpoint is used to restart the network service on the gateway.
    $ref: './agents-gateways/restartnetwork.yaml'
  /api/v2/staticroute:
    summary: Set static route configuration
    description: This endpoint is used to set the static route configuration on the gateway.
    $ref: './agents-gateways/staticroute.yaml'
  /api/v2/gettimezoneinfo:
    summary: Get timezone details
    description: This endpoint is used to get timezone information from the gateway.
    $ref: './agents-gateways/gettimezoneinfo.yaml'
  /api/v2/settimezone:
    summary: Set timezone
    description: This endpoint is used to set the timezone on the gateway.
    $ref: './agents-gateways/settimezone.yaml'
  /api/v2/tenants/{tenantId}/managementProfiles/{id}/attach:
    summary: Attach gateway to management profile
    description: This endpoint is used to attach a gateway to a management profile and generates an activation token. The generated activation token is used in gateway registration.
    $ref: './agents-gateways/tenants-tenantId-managementProfiles-id-attach.yaml'
  /api/v2/tenants/{tenantId}/managementProfiles:
    summary: Create management profile
    description: This endpoint is used to create a management profile.
    $ref: './agents-gateways/tenants-tenantId-managementProfiles.yaml'
  /api/v2/tenants/{tenantId}/managementProfiles/{profileId}:
    summary: Manage management profile
    description: This endpoint is used to retrieve, update, and delete a management profile.
    $ref: './agents-gateways/tenants-tenantId-managementProfiles-profileId.yaml'
  /api/v2/tenants/{tenantId}/managementProfiles/{profileId}/detach:
    summary: Detach gateway from management profile
    description: This API is used to unmap/detach the gateway from the management profile and invalidate the activation token.
    $ref: './agents-gateways/tenants-tenantId-managementProfiles-profileId-detach.yaml'
  /api/v2/tenants/{tenantId}/managementProfiles/{profileId}/reconnectTunnel:
    summary: Reconnect management profile tunnel
    description: This endpoint is used to reconnect the tunnel.
    $ref: './agents-gateways/tenants-tenantId-managementProfiles-profileId-reconnectTunnel.yaml'
  /api/v2/tenants/{tenantId}/managementProfiles/search:
    summary: Search management profile
    description: |-
      This endpoint is used to search for management profiles.

      ## Query Variables
      |Variable|Value|Description|
      |---|---|---|
      |id|{id}|The management profile ID.|
      |name|{name}|The management profile name.|
      |type|Agent, Gateway|The anagement profile type. An example is: Agent.|
      |startCreationDate|{startCreationDate}|Search for the management profile created within a certain duration. Start indicates the from date. An example is: 2016-06-10T10:40:20 0000 (GMT).|
      |endCreationDate|{endCreationDate}|Search for the management profile created within a certain duration. End indicates the to date. An Example is: 2016-06-20T10:40:20 0000 (GMT).|

      ## Notes
      1. Special characters in the query string
          1. Plus (+) indicates next field and must be URL encoded.
          2. Color (:) indicates Equals. An example is: key: value.
          3. Space characters must be URL encoded.
      2. Date format must use this format: yyyy-MM-ddTHH: mm: ssZ (GMT).
    $ref: './agents-gateways/tenants-tenantId-managementProfiles-search.yaml'
  # Alerts
  /api/v2/tenants/{tenantId}/policies/alertCorrelation/{policyId}/{action}:
    $ref: './alerts/tenants-tenantId-policies-alertCorrelation-policyId-action.yaml'
  /api/v2/tenants/{tenantId}/rosters/search:
    $ref: './alerts/tenants-tenantId-rosters-search.yaml'
  /api/v2/tenants/{tenantId}/policies/alertCorrelation:
    $ref: './alerts/tenants-tenantId-policies-alertCorrelation.yaml'
  /api/v2/tenants/{tenantId}/policies/alertCorrelation/{policyId}:
    $ref: './alerts/tenants-tenantId-policies-alertCorrelation-policyId.yaml'
  /api/v2/tenants/{tenantId}/policies/alertCorrelation/{policyId}/{status}:
    summary: Enable or disable alert correlation policy
    description: |-
      This endpoint is used to enable, disable, and create an observed mode on an alert correlation policy. Status values: enable, disable, observed.

      The response depends on the returned status code.
    $ref: './alerts/tenants-tenantId-policies-alertCorrelation-policyId-status.yaml'
  /api/v2/tenants/{tenantId}/alerts/{alertId}/escalations:
    $ref: './alerts/tenants-tenantId-alerts-alertId-escalations.yaml'
  /api/v2/tenants/{tenantId}/escalations:
    $ref: './alerts/tenants-tenantId-escalations.yaml'
  /api/v2/tenants/{tenantId}/escalations/{id}:
    $ref: './alerts/tenants-tenantId-escalations-id.yaml'
  /api/v2/tenants/{tenantId}/escalations/{id}/disable:
    $ref: './alerts/tenants-tenantId-escalations-id-disable.yaml'
  /api/v2/tenants/{tenantId}/escalations/{id}/enable:
    $ref: './alerts/tenants-tenantId-escalations-id-enable.yaml'
  /api/v2/tenants/{tenantId}/escalations/search:
    $ref: './alerts/tenants-tenantId-escalations-search.yaml'
  /api/v2/tenants/{tenantId}/alerts/{alertId}/acknowledge:
    $ref: './alerts/tenants-tenantId-alerts-alertId-acknowledge.yaml'
  /api/v2/tenants/{tenantId}/alerts/{alertId}/actions/{action}:
    $ref: './alerts/tenants-tenantId-alerts-alertId-actions-action.yaml'
  /api/v2/alerts/tenants/{tenantId}/alerts/event/{eventId}:
    $ref: './alerts/tenants-tenantId-alerts-event-eventId.yaml'
  /api/v2/tenants/{tenantId}/alerts/{alertId}/comments:
    $ref: './alerts/tenants-tenantId-alerts-alertId-comments.yaml'
  /api/v2/tenants/{tenantId}/alerts/{alertId}:
    $ref: './alerts/tenants-tenantId-alerts-alertId.yaml'
  /api/v2/alertTypes:
    $ref: './alerts/alertTypes.yaml'
  /api/v2/tenants/{orgId}/users/{userId}/alertViews:
    $ref: './alerts/tenants-orgID-users-userId-alertViews.yaml'
  /api/v2/tenants/{orgId}/users/{userId}/alertViews/{viewId}:
    $ref: './alerts/tenants-orgId-users-userId-alertViews-viewId.yaml'
  /api/v2/alerts/tenants/{tenantId}/alerts/{alertId}:
    $ref: './alerts/alerts-tenants-tenantId-alerts-alertId.yaml'
  /api/v2/alerts/tenants/{tenantId}/tickets/{ticketId}:
    $ref: './alerts/alerts-tenants-tenantId-tickets-ticketId.yaml'
  /api/v2/tenants/{tenantId}/alerts/{alertId}/incidents/{IncidentId}/attach:
    $ref: './alerts/tenants-tenantId-alerts-alertId-incidents-incidentId-attach.yaml'
  /api/v2/tenants/{tenantId}/alert:
    $ref: './alerts/tenants-tenantId-alert.yaml'
  /api/v2/tenants/{tenantId}/alerts:
    $ref: './alerts/tenants-tenantId-alerts.yaml'
  /api/v2/tenants/{tenantId}/alerts/{alertId}/occurrences:
    $ref: './alerts/tenants-tenantId-alerts-alertId-occurrences.yaml'
  /api/v2/tenants/{tenantId}/alerts/search:
    $ref: './alerts/tenants-tenantId-alerts-search.yaml'
  /api/v2/tenants/{tenantId}/alertStatusHistory/{alertId}:
    $ref: './alerts/tenants-tenantId-alertStatusHistory-alertId.yaml'
  /api/v2/tenants/{tenantId}/subAlertTypes:
    $ref: './alerts/tenants-tenantId-subAlertTypes.yaml'
  /api/v2/tenants/{tenantId}/alerts/{alertId}/tickets/{ticketId}/update:
    $ref: './alerts/tenants-tenantId-alerts-alertId-tickets-ticketId-update.yaml'
  /api/v2/tenants/{tenantId}/policies/firstResponse:
    $ref: './alerts/tenants-tenantId-policies-firstResponse.yaml'
  /api/v2/tenants/{tenantId}/policies/firstResponse/{policyId}:
    $ref: './alerts/tenants-tenantId-policies-firstResponse-policyId.yaml'
  /api/v2/tenants/{tenantId}/policies/firstResponse/{policyId}/{status}:
    $ref: './alerts/tenants-tenantId-policies-firstResponse-policyId-status.yaml'
  /api/v2/tenants/{tenantId}/rosters:
    $ref: './alerts/tenants-tenantId-rosters.yaml'
  /api/v2/tenants/{tenantId}/rosters/{id}:
    $ref: './alerts/tenants-tenantId-rosters-id.yaml'
  /api/v2/tenants/{tenantId}/scheduleMaintenances/{smId}/resources:
    $ref: './alerts/tenants-tenantId-scheduleMaintenances-smId-resources.yaml'
  /api/v2/tenants/{tenantId}/scheduleMaintenances:
    $ref: './alerts/tenants-tenantId-scheduleMaintenances.yaml'
  /api/v2/tenants/{tenantId}/scheduleMaintenances/{smId}/end:
    $ref: './alerts/tenants-tenantId-scheduleMaintenances-smId-end.yaml'
  /api/v2/tenants/{tenantId}/scheduleMaintenances/{smId}/resources/{resourcesType}:
    $ref: './alerts/tenants-tenantId-scheduleMaintenances-smId-resources-resourcesType.yaml'
  /api/v2/tenants/{tenantId}/scheduleMaintenances/{smId}/resume:
    $ref: './alerts/tenants-tenantId-scheduleMaintenances-smId-resume.yaml'
  /api/v2/tenants/{tenantId}/scheduleMaintenances/search:
    $ref: './alerts/tenants-tenantId-scheduleMaintenances-search.yaml'
  /api/v2/tenants/{tenantId}/scheduleMaintenances/{smId}/suspend:
    $ref: './alerts/tenants-tenantId-scheduleMaintenances-smId-suspend.yaml'
  /api/v2/tenants/{tenantId}/scheduleMaintenances/{smId}:
    $ref: './alerts/tenants-tenantId-scheduleMaintenances-smId.yaml'
  # Automation
  /api/v2/tenants/{tenantId}/jobs:
    $ref: './automation/tenants-tenantId-jobs.yaml'
  /api/v2/tenants/{tenantId}/jobs/{id}:
    $ref: './automation/tenants-tenantId-jobs-id.yaml'
  /api/v2/tenants/{tenantId}/jobs/types:
    $ref: './automation/tenants-tenantId-jobs-types.yaml'
  /api/v2/tenants/{tenantId}/jobs/{id}/run:
    $ref: './automation/tenants-tenantId-jobs-id-run.yaml'
  /api/v2/tenants/{tenantId}/jobs/{id}/script/run:
    $ref: './automation/tenants-tenantId-jobs-id-script-run.yaml'
  /api/v2/tenants/{tenantId}/jobs/search:
    $ref: './automation/tenants-tenantId-jobs-search.yaml'
  /api/v2/tenants/{tenantId}/rba/categories:
    $ref: './automation/tenants-tenantId-rba-categories.yaml'
  /api/v2/tenants/{tenantId}/rba/categories/{categoryId}:
    $ref: './automation/tenants-tenantId-rba-categories-categoryId.yaml'
  /api/v2/tenants/{tenantId}/rba/categories/{categoryId}/scripts:
    $ref: './automation/tenants-tenantId-rba-categories-categoryId-scripts.yaml'
  /api/v2/tenants/{tenantId}/rba/scripts/{scriptId}/paginatedOutputs:
    $ref: './automation/tenants-tenantId-rba-scripts-scriptId-paginatedOutputs.yaml'
  /api/v2/tenants/{tenantId}/rba/categories/{categoryId}/scripts/{scriptId}:
    $ref: './automation/tenants-tenantId-rba-categories-categoryId-scripts-scriptId.yaml'
  # Exports
  /api/v2/exports/tenants/{tenantId}/create:
    $ref: './exports/tenants-tenantId-create.yaml'
  # Integrations
  /api/v2/tenants/{tenantId}/integrations/activity:
    $ref: './integrations/tenants-tenantId-integrations-activity.yaml'
  /api/v2/tenants/{tenantId}/policies/discovery:
    $ref: './integrations/tenants-tenantId-policies-discovery.yaml'
  /api/v2/tenants/{tenantId}/policies/discovery/{discoveryId}:
    $ref: './integrations/tenants-tenantId-policies-discovery-discoveryId.yaml'
  /api/v2/tenants/{tenantId}/policies/discovery/action/scan/{discoveryProfileId}:
    $ref: './integrations/tenants-tenantId-policies-discovery-action-scan-discoveryProfileId.yaml'
  /api/v2/tenants/{tenantId}/policies/discovery/search:
    $ref: './integrations/tenants-tenantId-policies-discovery-search.yaml'
  /api/v2/tenants/{tenantId}/integrations/install/CUSTOM:
    $ref: './integrations/tenants-tenantId-integrations-install-CUSTOM.yaml'
  /api/v2/tenants/{tenantId}/integrations/available/{intgId}/emailProps/{entityType}:
    $ref: './integrations/tenants-tenantId-integrations-available-intgId-emailProps-entityType.yaml'
  /api/v2/tenants/{tenantId}/integrations/installed/{installedIntgId}/inbound/authentication:
    $ref: './integrations/tenants-tenantId-integrations-installed-installedIntgId-inbound-authentication.yaml'
  /api/v2/tenants/{tenantId}/integrations/installed/{installedIntgId}/mappingAttr:
    $ref: './integrations/tenants-tenantId-integrations-installed-installedIntgId-mappingAttr.yaml'
  /api/v2/tenants/{tenantId}/integrations/installed/{installedIntgId}/notifier:
    $ref: './integrations/tenants-tenantId-integrations-installed-installedIntgId-notifier.yaml'
  /api/v2/tenants/{tenantId}/integrations/installed/{installedIntgId}/disable:
    $ref: './integrations/tenants-tenantId-integrations-installed-installedIntgId-disable.yaml'
  /api/v2/tenants/{tenantId}/integrations/installed/{installedIntgId}/enable:
    $ref: './integrations/tenants-tenantId-integrations-installed-installedIntgId-enable.yaml'
  /api/v2/tenants/{tenantId}/integrations/installed/{installedIntgId}/event/{eventId}/activate:
    $ref: './integrations/tenants-tenantId-integrations-installed-installedIntgId-event-eventId-activate.yaml'
  /api/v2/tenants/{tenantId}/integrations/installed/{installedIntgId}/event:
    $ref: './integrations/tenants-tenantId-integrations-installed-installedIntgId-event.yaml'
  /api/v2/tenants/{tenantId}/integrations/installed/{installedIntgId}/event/{eventId}/deactivate:
    $ref: './integrations/tenants-tenantId-integrations-installed-installedIntgId-event-eventId-deactivate.yaml'
  /api/v2/tenants/{tenantId}/integrations/installed/{installedIntgId}/event/{eventId}:
    $ref: './integrations/tenants-tenantId-integrations-installed-installedIntgId-event-eventId.yaml'
  /api/v2//tenants/{tenantId}/integrations/installed/{installedIntgId}/events:
    $ref: './integrations/tenants-tenantId-integrations-installed-installedIntgId-events.yaml'
  /api/v2//tenants/{tenantId}/integrations/events/placeHolders/{entityType}:
    $ref: './integrations/tenants-tenantId-integrations-events-placeHolders-entityType.yaml'
  /api/v2/tenants/{tenantId}/integrations/installed/{installedIntgId}:
    $ref: './integrations/tenants-tenantId-integrations-installed-installedIntgId.yaml'
  /api/v2/tenants/{tenantId}/integrations/available/{intgId}/mappingAttr/{entityType}:
    $ref: './integrations/tenants-tenantId-integrations-available-intgId-mappingAttr-entityType.yaml'
  /api/v2/tenants/{tenantId}/integrations/available/search:
    $ref: './integrations/tenants-tenantId-integrations-available-search.yaml'
  /api/v2/tenants/{tenantId}/integrations/installed/search:
    $ref: './integrations/tenants-tenantId-integrations-installed-search.yaml'
  /api/v2/tenants/{tenantId}/integrations/install/EMAILINCIDENTS:
    $ref: './integrations/tenants-tenantId-integrations-install-EMAILINCIDENTS.yaml'
  /api/v2/tenants/{tenantId}/integrations/install/EMAILALERTS:
    $ref: './integrations/tenants-tenantId-integrations-install-EMAILALERTS.yaml'
  /api/v2/tenants/{tenantId}/integrations/install/AWS:
    $ref: './integrations/tenants-tenantId-integrations-install-AWS.yaml'
  /api/v2/tenants/{tenantId}/integrations/install/AZURE:
    $ref: './integrations/tenants-tenantId-integrations-install-AZURE.yaml'
  /api/v2/tenants/{tenantId}/integrations/install/GOOGLE:
    $ref: './integrations/tenants-tenantId-integrations-install-GOOGLE.yaml'
  /api/v2/tenants/{tenantId}/integrations/install/{intgId}:
    $ref: './integrations/tenants-tenantId-integrations-install-intgId.yaml'
  /api/v2/tenants/{tenantId}/integrations/install/OKTA:
    $ref: './integrations/tenants-tenantId-integrations-install-OKTA.yaml'
  # Knowledge Base
  /api/v2/tenants/{tenantId}/kb/{articleId}/activitylog:
    $ref: './knowledge-base/tenants/kb/articleId/activitylog.yaml'
  /api/v2/tenants/{tenantId}/kb/article/{articleId}/comment:
    $ref: './knowledge-base/tenants-kb-article-articleId-comment.yaml'
  /api/v2/tenants/{tenantId}/kb/articlesList:
    $ref: './knowledge-base/tenants-kb-articlesList.yaml'
  /api/v2/tenants/{tenantId}/kb/articles/search:
    $ref: './knowledge-base/tenants/kb/article/search.yaml'
  /api/v2/tenants/{tenantId}/kb/article/{articleId}/comments/{commentId}/resources/{resourceId}:
    $ref: './knowledge-base/tenants/kb/article/articleId/comments/commmentId/resources/resourceId.yaml'
  /api/v2/tenants/{tenantId}/kb/article/{articleId}/resources/{resourceId}:
    $ref: './knowledge-base/tenants-kb-article-articleId-resources-resourceId.yaml'
  /api/v2/tenants/{tenantId}/kb/article:
    $ref: './knowledge-base/tenants-kb-article.yaml'
  /api/v2/tenants/{tenantId}/kb/article/{articleId}/delete:
    $ref: './knowledge-base/tenants-kb-article-articleId-delete.yaml'
  /api/v2/tenants/{tenantId}/kb/article/{articleId}:
    $ref: './knowledge-base/tenants-kb-article-articleId.yaml'
  /api/v2/tenants/{tenantId}/kb/article/{articleId}/comments:
    $ref: './knowledge-base/tenants-kb-article-articleId-comments.yaml'
  /api/v2/tenants/{tenantId}/kb/article/{articleId}/share:
    $ref: './knowledge-base/tenants-kb-article-articleId-share.yaml'
  /api/v2/tenants/{tenantId}/kb/category/{categoryId}:
    $ref: './knowledge-base/tenants-kb-category-categoryId.yaml'
  /api/v2/tenants/{tenantId}/kb/category/create:
    $ref: './knowledge-base/tenants-kb-category-create.yaml'
  /api/v2/tenants/{tenantId}/kb/category/delete/{categoryId}:
    $ref: './knowledge-base/tenants-kb-category-delete-categoryId.yaml'
  /api/v2/tenants/{tenantId}/kb/categorylist:
    $ref: './knowledge-base/tenants/kb/categorylist.yaml'
  /api/v2/tenants/{tenantId}/kb/category/restore/{categoryId}:
    $ref: './knowledge-base/tenants-kb-category-restore-categoryId.yaml'
  /api/v2/tenants/{tenantId}/kb/categorylist/{categoryId}:
    $ref: './knowledge-base/tenants-kb-categorylist-categoryId.yaml'
  /api/v2/tenants/{tenantId}/kb/category/update/{categoryId}:
    $ref: './knowledge-base/tenants-kb-category-update-categoryId.yaml'
  /api/v2/tenants/{tenantId}/kb/template/{templateId}/delete:
    $ref: './knowledge-base/tenants-kb-template-templateId-delete.yaml'
  /api/v2/tenants/{tenantId}/kb/templatesList:
    $ref: './knowledge-base/tenants/kb/templateList.yaml'
  /api/v2/tenants/{tenantId}/kb/template:
    $ref: './knowledge-base/tenants-kb-template.yaml'
  /api/v2/tenants/{tenantId}/kb/template/{templatedId}:
    $ref: './knowledge-base/tenants-kb-template-templateId.yaml'
  /api/v2/tenants/{tenantId}/kb/article:
    $ref: './knowledge-base/tenants-kb-article-update.yaml'
  # Metrics
  /api/v2/metric/tenants/{tenantId}/rtypes/{rtype}/resources/{resource}/metrics:
    $ref: './metrics/metric-tenants-tenantId-rtypes-rtype-resources-resource-metrics.yaml'
  /api/v2/metric/search:
    $ref: './metrics/metric-search.yaml'
  /api/v2/metric/tenants/{tenantId}/metrictype:
    $ref: './metrics/metric-tenants-tenantId-metrictype.yaml'
  /api/v2/metric/tenants/{tenantId}/metrics/{metric}/metricType:
    $ref: './metrics/metric-tenants-tenantId-metrics-metric-metricType.yaml'
  # Monitoring
  /api/v2/tenants/{tenantId}/resources/{resourceId}/templates:
    $ref: './monitoring/tenants-tenantId-resources-resourceId-templates.yaml'
  /api/v2/tenants/{tenantId}/resources/{resourceId}/templates/search:
    $ref: './monitoring/tenants-tenantId-resources-resourceId-templates-search.yaml'
  /api/v2/tenants/{tenantId}/monitoring/templates/search:
    $ref: './monitoring/tenants-tenantId-monitoring-templates-search.yaml'
  /api/v2/tenants/{tenantId}/resourceMonitors:
    $ref: './monitoring/tenants-tenantId-resourceMonitors.yaml'
  # Patching
  /api/v2/tenants/{tenantId}/patches/baselines/{baselineId}/{action}:
    $ref: './patching/tenants-tenantId-patches-baselines-baselineId-action.yaml'
  /api/v2/tenants/{tenantId}/patches/baselines/{baselineId}/{patchId}/{action}:
    $ref: './patching/tenants-tenantId-patches-baselines-baselineId-patchId-action.yaml'
  /api/v2/tenants/{tenantId}/patches/baselines:
    $ref: './patching/tenants-tenantId-patches-baselines.yaml'
  /api/v2/tenants/{tenantId}/patches/baselines/{baselineId}:
    $ref: './patching/tenants-tenantId-patches-baselines-baselineId.yaml'
  /api/v2/tenants/{tenantId}/patches/compliance/{complianceId}/baselines/{baselineId}/{action}:
    $ref: './patching/tenants-tenantId-patches-compliance-complianceId-baselines-baselineId-action.yaml'
  /api/v2/tenants/{tenantId}/patches/compliance/{complianceId}/deviceGroups/{deviceGrpId}/{action}:
    $ref: './patching/tenants-tenantId-patches-compliance-complianceId-deviceGroups-deviceGrpId-action.yaml'
  /api/v2/tenants/{tenantId}/patches/compliance/{complianceId}/devices/{deviceId}/{action}:
    $ref: './patching/tenants-tenantId-patches-compliance-complianceId-devices-deviceId-action.yaml'
  /api/v2/tenants/{tenantId}/patches/compliance/{complianceId}/baselines:
    $ref: './patching/tenants-tenantId-patches-compliance-complianceId-baselines.yaml'
  /api/v2/tenants/{tenantId}/patches/compliance:
    $ref: './patching/tenants-tenantId-patches-compliance.yaml'
  /api/v2/tenants/{tenantId}/patches/compliance/{complianceId}:
    $ref: './patching/tenants-tenantId-patches-compliance-complianceId.yaml'
  /api/v2/tenants/{tenantId}/patches/compliance/{complianceId}/devices:
    $ref: './patching/tenants-tenantId-patches-compliance-complianceId-devices.yaml'
  /api/v2/tenants/{tenantId}/patches/compliance/{complianceId}/deviceGroups:
    $ref: './patching/tenants-tenantId-patches-compliance-complianceId-deviceGroups.yaml'
  /api/v2/tenants/{tenantId}/patches/compliance/{complianceId}/run:
    $ref: './patching/tenants-tenantId-patches-compliance-complianceId-run.yaml'
  /api/v2/tenants/{tenantId}/patches/configurations:
    $ref: './patching/tenants-tenantId-patches-configurations.yaml'
  /api/v2/tenants/{tenantId}/patches/configurations/{id}:
    $ref: './patching/tenants-tenantId-patches-configurations-id.yaml'
  /api/v2/tenants/{tenantId}/patches/configurations/{id}/run:
    $ref: './patching/tenants-tenantId-patches-configurations-id-run.yaml'
  /api/v2/tenants/{tenantId}/patches/configurations/search:
    $ref: './patching/tenants-tenantId-patches-configurations-search.yaml'
  /api/v2/tenants/{tenantId}/patches/rating/{intgId}/feed/{patchId}:
    $ref: './patching/tenants-tenantId-patches-rating-intgId-feed-patchId.yaml'
  /api/v2/tenants/{tenantId}/patches:
    $ref: './patching/tenants-tenantId-patches.yaml'
  /api/v2/tenants/{tenantId}/patches/rating/{intgId}/feed:
    $ref: './patching/tenants/tenantId/patches/rating/intgId/feed.yaml'
  /api/v2/tenants/{tenantId}/patches/{jobId}/scan/status:
    $ref: './patching/tenants/tenantId/patches/jobId/scan/status.yaml'
  /api/v2/tenants/{tenantId}/patches/{jobId}/install/status:
    $ref: './patching/tenants/tenantId/patches/jobId/install/status.yaml'
  /api/v2/tenants/{tenantId}/resources/{resourceId}/patches/{patchId}/{approvalType}:
    $ref: './patching/tenants-tenantId-resources-resourceId-patches-patchId-approvalType.yaml'
  /api/v2/tenants/{tenantId}/resources/{resourceId}/patches/scan/status:
    $ref: './patching/tenants-tenantId-resources-resourceId-patches-scan-status.yaml'
  /api/v2/tenants/{tenantId}/resources/{resourceId}/patches/install/status:
    $ref: './patching/tenants-tenantId-resources-resourceId-patches-install-status.yaml'
  /api/v2/tenants/{tenantId}/resources/{resourceId}/baselines/{baseLineId}/patches:
    $ref: './patching/tenants/tenantId/resources/resourceId/baselines/baseLineId/patches.yaml'
  /api/v2/tenants/{tenantId}/resources/patches:
    $ref: './patching/tenants-tenantId-resources-patches.yaml'
  # Resource Management
  /api/v2/tenants/{tenantId}/agentPolicies/{policyId}/devices:
    $ref: './resource-management/tenants-tenantId-agentPolicies-policyId-devices.yaml'
  /api/v2/tenants/{tenantId}/customAttributes/{attributeId}/values/{valueId}:
    $ref: './resource-management/tenants-tenantId-customAttributes-attributeId-values-valueId.yaml'
  /api/v2/tenants/{varId}/customAttributes/{attributeId}/values/{valueId}/clients:
    $ref: './resource-management/tenants-varId-customAttributes-attributeId-values-valueId-clients.yaml'
  /api/v2/tenants/{tenantId}/customAttributes/{attributeId}/values/{valueId}/devices:
    $ref: './resource-management/tenants-tenantId-customAttributes-attributeId-values-valueId-devices.yaml'
  /api/v2/tenants/{tenantId}/customAttributes/{attributeId}/values/{valueId}/serviceGroups:
    $ref: './resource-management/tenants-tenantId-customAttributes-attributeId-values-valueId-serviceGroups.yaml'
  /api/v2/tenants/{varId}/clients/{clientId}/customAttributes:
    $ref: './resource-management/tenants-varId-clients-clientId-customAttributes.yaml'
  /api/v2/tenants/{tenantId}/customAttributes:
    $ref: './resource-management/tenants-tenantId-customAttributes.yaml'
  /api/v2/tenants/{tenantId}/devices/{deviceId}/customAttributes:
    $ref: './resource-management/tenants-tenantId-devices-deviceId-customAttributes.yaml'
  /api/v2/tenants/{tenantId}/customAttributes/{attributeId}/assignedEntities/search:
    $ref: './resource-management/tenants-tenantId-customAttributes-attributeId-assignedEntities-search.yaml'
  /api/v2/tenants/{tenantId}/customAttributes/search:
    $ref: './resource-management/tenants-tenantId-customAttributes-search.yaml'
  /api/v2/tenants/{tenantId}/serviceGroups/{serviceGroupId}/customAttributes:
    $ref: './resource-management/tenants-tenantId-serviceGroups-serviceGroupId-customAttributes.yaml'
  /api/v2/tenants/{tenantId}/customAttributes/{attributeId}:
    $ref: './resource-management/tenants-tenantId-customAttributes-attributeId.yaml'
  /api/v2/tenants/{tenantId}/deviceGroups/{deviceGroupId}/childs:
    $ref: './resource-management/tenants/tenantId/deviceGroups/childs.yaml'
  /api/v2/tenants/{tenantId}/deviceGroups/{deviceGroupId}/childs/search:
    $ref: './resource-management/tenants/tenantId/deviceGroups/childs/search.yaml'
  /api/v2/tenants/{tenantId}/deviceGroups:
    $ref: './resource-management/tenants-tenantId-deviceGroups.yaml'
  /api/v2/tenants/{tenantId}/deviceGroups/{deviceGroupId}:
    $ref: './resource-management/tenants-tenantId-deviceGroups-deviceGroupId.yaml'
  /api/v2/tenants/{tenantId}/deviceGroups/minimal:
    $ref: './resource-management/tenants-tenantId-deviceGroups-minimal.yaml'
  /api/v2/tenants/{tenantId}/deviceGroups/search:
    $ref: './resource-management/tenants-tenantId-deviceGroups-search.yaml'
  /api/v2/tenants/{tenantId}/policies/management/{id}:
    $ref: './resource-management/tenants-tenantId-policies-management-id.yaml'
  /api/v2/tenants/{tenantId}/policies/management:
    $ref: './resource-management/tenants-tenantId-policies-management.yaml'
  /api/v2/tenants/{tenantId}/policies/management/{id}/action/run:
    $ref: './resource-management/tenants-tenantId-policies-management-id-action-run.yaml'
  /api/v2/tenants/{tenantId}/policies/management/search:
    $ref: './resource-management/tenants-tenantId-policies-management-search.yaml'
  /api/v2/tenants/{tenantId}/devices/{deviceId}/deviceWarranty:
    $ref: './resource-management/tenants-tenantId-devices-deviceId-deviceWarranty.yaml'
  /api/v2/tenants/{tenantId}/deviceWarranties:
    $ref: './resource-management/tenants-tenantId-deviceWarranties.yaml'
  /api/v2/tenants/{tenantId}/dependencies/{resourceuuid}:
    $ref: './resource-management/tenants-tenantId-dependencies-resourceuuid.yaml'
  /api/v2/tenants/{tenantId}/resources/{resourceId}/notes:
    $ref: './resource-management/tenants-tenantId-resources-resourceId-notes.yaml'
  /api/v2/tenants/{tenantId}/notes/{noteId}:
    $ref: './resource-management/tenants-tenantId-notes-noteId.yaml'
  /api/v2/tenants/{tenantId}/resources/{resourceId}/notes/search:
    $ref: './resource-management/tenants-tenantId-resources-resourceId-notes-search.yaml'
  /api/v2/tenants/{tenantId}/resources/{resourceId}/notes/{noteId}:
    $ref: './resource-management/tenants-tenantId-resources-resourceId-notes-noteId.yaml'
  /api/v2/tenants/{tenantId}/devices/wsussettings/{action}:
    $ref: './resource-management/tenants-tenantId-devices-wsussettings-action.yaml'
  /api/v2/tenants/{tenantId}/resources:
    $ref: './resource-management/tenants-tenantId-resources.yaml'
  /api/v2/tenants/{mspId}/decommission/{action}:
    $ref: './resource-management/tenants-mspId-decommission-action.yaml'
  /api/v2/tenants/{tenantId}/history/resources/{resourceId}:
    $ref: './resource-management/tenants-tenantId-history-resources-resourceId.yaml'
  /api/v2/tenants/{tenantId}/resources/{resourceId}/decommission:
    $ref: './resource-management/tenants-tenantId-resources-resourceId-decommission.yaml'
  /api/v2/tenants/{tenantId}/history/resources:
    $ref: './resource-management/tenants-tenantId-history-resources.yaml'
  /api/v2/tenants/{tenantId}/resources/antivirus/search:
    $ref: './resource-management/tenants-tenantId-resources-antivirus-search.yaml'
  /api/v2/tenants/{tenantId}/resources/minimal:
    $ref: './resource-management/tenants-tenantId-resources-minimal.yaml'
  /api/v2/tenants/{tenantId}/resources/{resourceId}/applications:
    $ref: './resource-management/tenants-tenantId-resources-resourceId-applications.yaml'
  /api/v2/tenants/{tenantId}/resources/{resourceId}/availability:
    $ref: './resource-management/tenants-tenantId-resources-resourceId-availability.yaml'
  /api/v2/tenants/{tenantId}/resources/{resourceId}/availability/rule:
    $ref: './resource-management/tenants-tenantId-resources-resourceId-availability-rule.yaml'
  /api/v2/tenants/{tenantId}/resources/Resourcetype/{resourceType}/{identity}:
    $ref: './resource-management/tenants-tenantId-resources-Resourcetype-resourceType-identity.yaml'
  /api/v2/tenants/{tenantId}/resources/{resourceId}:
    $ref: './resource-management/tenants-tenantId-resources-resourceId.yaml'
  /api/v2/tenants/{tenantId}/resourceType/minimal:
    $ref: './resource-management/tenants-tenantId-resourceType-minimal.yaml'
  /api/v2/tenants/{tenantId}/resources/search:
    $ref: './resource-management/tenants-tenantId-resources-search.yaml'
  /api/v2/tenants/{tenantId}/serviceGroups/{sgId}/childs:
    $ref: './resource-management/tenants-tenantId-serviceGroups-sgId-childs.yaml'
  /api/v2/tenants/{tenantId}/serviceGroups/{sgId}/childs/search:
    $ref: './resource-management/tenants-tenantId-serviceGroups-sgId-childs-search.yaml'
  /api/v2/tenants/{tenantId}/serviceGroups:
    $ref: './resource-management/tenants-tenantId-serviceGroups.yaml'
  /api/v2/tenants/{tenantId}/serviceGroups/{sgId}:
    $ref: './resource-management/tenants-tenantId-serviceGroups-sgId.yaml'
  /api/v2/tenants/{tenantId}/serviceGroups/minimal:
    $ref: './resource-management/tenants-tenantId-serviceGroups-minimal.yaml'
  /api/v2/tenants/{tenantId}/serviceGroups/search:
    $ref: './resource-management/tenants-tenantId-serviceGroups-search.yaml'
  /api/v2/tenants/{tenantId}/serviceGroups/link:
    $ref: './resource-management/tenants-tenantId-serviceGroups-link.yaml'
  /api/v2/tenants/{tenantId}/services/{serviceId}/availability:
    $ref: './resource-management/tenants-tenantId-services-serviceId-availability.yaml'
  /api/v2/tenants/{tenantId}/serviceGroups/unLink/{parentSgId}/{childSgId}:
    $ref: './resource-management/tenants-tenantId-serviceGroups-unLink-parentSgId-childSgId.yaml'
  /api/v2/tenants/{tenantId}/sites:
    $ref: './resource-management/tenants-tenantId-sites.yaml'
  /api/v2/tenants/{tenantId}/sites/search:
    $ref: './resource-management/tenants-tenantId-sites-search.yaml'
  /api/v2/tenants/{tenantId}/sites/{siteId}:
    $ref: './resource-management/tenants-tenantId-sites-siteId.yaml'
  /api/v2/tenants/{tenantId}/sites/minimal:
    $ref: './resource-management/tenants-tenantId-sites-minimal.yaml'
  /api/v2/tenants/{tenantId}/topology/{resourceUUID}:
    $ref: './resource-management/tenants-tenantId-topology-resourceUUID.yaml'
  # Tenancy Access Controls
  /api/v2/tenants/{tenantId}/notes:
    $ref: './tenancy-access-control/tenants-tenantId-notes.yaml'
  /api/v2/tenants/{tenantId}/notes/{noteId}:
    $ref: './tenancy-access-control/tenants-tenantId-notes-noteId.yaml'
  /api/v2/tenants/{tenantId}/notes/search:
    $ref: './tenancy-access-control/tenants-tenantId-notes-search.yaml'
  /api/v2/tenants/{varId}/clients/{clientId}/{action}:
    $ref: './tenancy-access-control/tenants-varId-clients-clientId-action.yaml'
  /api/v2/tenants/{varId}/clients/{clientId}:
    $ref: './tenancy-access-control/tenants-varId-clients-clientId.yaml'
  /api/v2/tenants/{varId}/clients:
    $ref: './tenancy-access-control/tenants-varId-clients.yaml'
  /api/v2/tenants/{varId}/clients/minimal:
    $ref: './tenancy-access-control/tenants-varId-clients-minimal.yaml'
  /api/v2/tenants/{varId}/clients/search:
    $ref: './tenancy-access-control/tenants-varId-clients-search.yaml'
  /api/v2/cfg/alertSource/available/custIntg/{intgId}:
    $ref: './tenancy-access-control/cfg-alertSource-available-custIntg-intgId.yaml'
  /api/v2/cfg/tenants/channels:
    $ref: './tenancy-access-control/cfg-tenants-channels.yaml'
  /api/v2/cfg/countries:
    $ref: './tenancy-access-control/cfg-countries.yaml'
  /api/v2/cfg/tenants/nocs:
    $ref: './tenancy-access-control/cfg-tenants-nocs.yaml'
  /api/v2/cfg/timezones:
    $ref: './tenancy-access-control/cfg-timezones.yaml'
  /api/v2/tenants/{tenantId}/credentialSets:
    $ref: './tenancy-access-control/tenants-tenantId-credentialSets.yaml'
  /api/v2/tenants/{tenantId}/credentialSets/{credentialSetId}:
    $ref: './tenancy-access-control/tenants-tenantId-credentialSets-credentialSetId.yaml'
  /api/v2/tenants/{tenantId}/credentialSets/minimal:
    $ref: './tenancy-access-control/tenants/tenantId/credentialSets/minimal.yaml'
  /api/v2/tenants/{tenantId}/devices/{deviceId}/credentialSets/minimal:
    $ref: './tenancy-access-control/tenants/tenantId/devices/deviceId/credentialSet/minimal.yaml'
  /api/v2/tenants/{varId}:
    $ref: './tenancy-access-control/tenants/varId.yaml'
  /api/v2/tenants/{tenantId}/roles:
    $ref: './tenancy-access-control/tenants/tenantId/roles.yaml'
  /api/v2/tenants/{tenantId}/roles/{roleId}:
    $ref: './tenancy-access-control/tenants/tenantId/roles/roleId.yaml'
  /api/v2/tenants/{tenantId}/roles/search:
    $ref: './tenancy-access-control/tenants/tenantId/roles/search.yaml'
  /api/v2/tenants/{tenantId}/permissionSets:
    $ref: './tenancy-access-control/tenants/tenantId/permissionSets.yaml'
  /api/v2/tenants/{tenantId}/userGroups/{userGroupId}/users:
    $ref: './tenancy-access-control/tenants/tenantId/userGroups/userGroupId/users.yaml'
  /api/v2/tenants/{tenantId}/userGroups:
    $ref: './tenancy-access-control/tenants/tenantId/userGroups.yaml'
  /api/v2/tenants/{tenantId}/userGroups/{userGroupId}:
    $ref: './tenancy-access-control/tenants/tenantId/userGroups/userGroupId.yaml'
  /api/v2/tenants/{tenantId}/users/{userId}/{action}:
    $ref: './tenancy-access-control/tenants/tenantId/users/userId/action.yaml'
  /api/v2/tenants/{orgId}/users/{userId}/changePassword:
    $ref: './tenancy-access-control/tenants/orgId/users/userId/changePassword.yaml'
  /api/v2/tenants/{orgId}/users:
    $ref: './tenancy-access-control/tenants/orgId/users.yaml'
  /api/v2/tenants/{tenantId}/users/loginHistory/search:
    $ref: './tenancy-access-control/tenants/tenantId/users/loginHistory/search.yaml'
  /api/v2/tenants/{orgId}/users/minimal:
    $ref: './tenancy-access-control/tenants/orgId/users/minimal.yaml'
  /api/v2/tenants/{tenantId}/users/search:
    $ref: './tenancy-access-control/tenants/tenantId/users/search.yaml'
  /api/v2/tenants/{orgId}/users/{userId}:
    $ref: './tenancy-access-control/tenants/orgId/users/userId.yaml'
  # Tickets
  /api/v2/tenants/{tenantId}/incidents/businessImpacts:
    $ref: './tickets/tenants-incidents-businessImpacts.yaml'
  /api/v2/tenants/{tenantId}/incidents/businessImpacts/{uniqueId}:
    $ref: './tickets/tenants-incidents-businessImpacts-uniqueId.yaml'
  /api/v2/tenants/{tenantId}/changeRequests/{changeRequestId}/activitylog:
    $ref: './tickets/tenants-changeRequests-changeRequestId-activitylog.yaml'
  /api/v2/tenants/{tenantId}/changeRequests/{changeRequestId}/responses:
    $ref: './tickets/tenants-changeRequests-changeRequestId-responses.yaml'
  /api/v2/tenants/{tenantId}/changeRequests/{changeRequestId}/responses/search:
    $ref: './tickets/tenants-changeRequests-changeRequestId-responses-search.yaml'
  /api/v2/tenants/{tenantId}/changeRequests/{changeRequestId}/close:
    $ref: './tickets/tenants-changeRequests-changeRequestId-close.yaml'
  /api/v2/tenants/{tenantId}/changeRequests/categories:
    $ref: './tickets/tenants-changeRequests-categories.yaml'
  /api/v2/tenants/{tenantId}/changeRequests:
    $ref: './tickets/tenants-changeRequests.yaml'
  /api/v2/tenants/{tenantId}/changeRequests/{changeRequestId}/responses/{responseId}/resources/{resourceId}:
    $ref: './tickets/tenants-changeRequests-changeRequestId-responses-responseId-resources-resourceId.yaml'
  /api/v2/tenants/{tenantId}/changeRequests/{changeRequestId}:
    $ref: './tickets/tenants-changeRequests-changeRequestId.yaml'
  /api/v2/tenants/{tenantId}/changeRequests/search:
    $ref: './tickets/tenants-changeRequests-search.yaml'
  /api/v2/tenants/{tenantId}/changeRequests/categories/{uniqueId}:
    $ref: './tickets/tenants-changeRequests-categories-uniqueId.yaml'
  /api/v2/tenants/{tenantId}/incidents/customForm:
    $ref: './tickets/tenants-incidents-customForm.yaml'
  /api/v2/tenants/{tenantId}/problems/customForm:
    $ref: './tickets/tenants-problems-customForm.yaml'
  /api/v2/tenants/{tenantId}/serviceRequests/customForm:
    $ref: './tickets/tenants-serviceRequests-customForm.yaml'
  /api/v2/tenants/{tenantId}/timeBoundRequests/customForm:
    $ref: './tickets/tenants-timeBoundRequests-customForm.yaml'
  /api/v2/tenants/{tenantId}/changeRequests/customForm:
    $ref: './tickets/tenants-changeRequests-customForm.yaml'
  /api/v2/tenants/{tenantId}/incidents/{incidentId}/activitylog:
    $ref: './tickets/tenants-incidents-incidentId-activitylog.yaml'
  /api/v2/tenants/{tenantId}/incidents/{incidentId}/responses:
    $ref: './tickets/tenants-incidents-incidentId-responses.yaml'
  /api/v2/tenants/{tenantId}/incidents/{incidentId}/close:
    $ref: './tickets/tenants-incidents-incidentId-close.yaml'
  /api/v2/tenants/{tenantId}/incidents/categories:
    $ref: './tickets/tenants-incidents-categories.yaml'
  /api/v2/tenants/{tenantId}/incidents:
    $ref: './tickets/tenants-incidents.yaml'
  /api/v2/tenants/{tenantId}/incidents/{incidentId}/responses/{responseId}/resources/{resourceId}:
    $ref: './tickets/tenants-incidents-incidentId-responses-responseId-resources-resourceId.yaml'
  /api/v2/tenants/{tenantId}/incidents/{incidentId}:
    $ref: './tickets/tenants-incidents-incidentId.yaml'
  /api/v2/tenants/{tenantId}/incidents/{incidentId}/responses/search:
    $ref: './tickets/tenants-incidents-incidentId-responses-search.yaml'
  /api/v2/tenants/{tenantId}/incidents/search:
    $ref: './tickets/tenants-incidents-search.yaml'
  /api/v2/tenants/{tenantId}/incidents/categories/{uniqueId}:
    $ref: './tickets/tenants-incidents-categories-uniqueId.yaml'
  /api/v2/tenants/{tenantId}/incidents/forwardMapping:
    $ref: './tickets/tenants-incidents-forwardMapping.yaml'
  /api/v2/tenants/{tenantId}/incidents/reverseMapping:
    $ref: './tickets/tenants-incidents-reverseMapping.yaml'
  /api/v2/tenants/{tenantId}/problems/{problemId}/activitylog:
    $ref: './tickets/tenants-problems-problemId-activitylog.yaml'
  /api/v2/tenants/{tenantId}/problems/{problemId}/responses:
    $ref: './tickets/tenants-problems-problemId-responses.yaml'
  /api/v2/tenants/{tenantId}/problems/{problemId}/close:
    $ref: './tickets/tenants-problems-problemId-close.yaml'
  /api/v2/tenants/{tenantId}/problems/categories:
    $ref: './tickets/tenants-problems-categories.yaml'
  /api/v2/tenants/{tenantId}/problems:
    $ref: './tickets/tenants-problems.yaml'
  /api/v2/tenants/{tenantId}/problems/{problemId}/responses/{responseId}/resources/{resourceId}:
    $ref: './tickets/tenants-problems-problemId-responses-responseId-resources-resourceId.yaml'
  /api/v2/tenants/{tenantId}/problems/{problemId}:
    $ref: './tickets/tenants-problems-problemId.yaml'
  /api/v2/tenants/{tenantId}/problems/{problemId}/responses/search:
    $ref: './tickets/tenants-problems-problemId-responses-search.yaml'
  /api/v2/tenants/{tenantId}/problems/search:
    $ref: './tickets/tenants-problems-search.yaml'
  /api/v2/tenants/{tenantId}/problems/categories/{uniqueId}:
    $ref: './tickets/tenants-problems-categories-uniqueId.yaml'
  /api/v2/tenants/{tenantId}/{ticketType}/categories/{parentCategoryId}:
    $ref: './tickets/tenants-ticketType-categories-parentCategoryId.yaml'
  /api/v2/tenants/{tenantId}/customFields/{classCode}/{customFieldId}:
    $ref: './tickets/tenants-customFields-classCode-customFieldId.yaml'
  /api/v2/tenants/{tenantId}/customFields/{classCode}:
    $ref: './tickets/tenants-customFields-classCode.yaml'
  /api/v2/tenants/{tenantId}/{ticketType}/statusReasons:
    $ref: './tickets/tenants-ticketType-statusReasons.yaml'
  /api/v2/tenants/{tenantId}/serviceRequests/{serviceRequestId}/activitylog:
    $ref: './tickets/tenants/servicesRequests/serviceRequestId/activitylog.yaml'
  /api/v2/tenants/{tenantId}/serviceRequests/{serviceRequestId}/responses:
    $ref: './tickets/tenants/servicesRequests/serviceRequestId/responses.yaml'
  /api/v2/tenants/{tenantId}/serviceRequests/{serviceRequestId}/close:
    $ref: './tickets/tenants/servicesRequests/serviceRequestId/close.yaml'
  /api/v2/tenants/{tenantId}/serviceRequests/categories:
    $ref: './tickets/tenants/servicesRequests/categories.yaml'
  /api/v2/tenants/{tenantId}/serviceRequests:
    $ref: './tickets/tenants/servicesRequests.yaml'
  /api/v2/tenants/{tenantId}/serviceRequests/{serviceRequestId}/responses/{responseId}/resources/{resourceId}:
    $ref: './tickets/tenants/servicesRequests/serviceRequestId/responses/responseId/resources/resourceId.yaml'
  /api/v2/tenants/{tenantId}/serviceRequests/{serviceRequestId}:
    $ref: './tickets/tenants/servicesRequests/serviceRequestId.yaml'
  /api/v2/tenants/{tenantId}/serviceRequests/{serviceRequestId}/responses/search:
    $ref: './tickets/tenants/servicesRequests/serviceRequestId/responses/search.yaml'
  /api/v2/tenants/{tenantId}/serviceRequests/search:
    $ref: './tickets/tenants/servicesRequests/search.yaml'
  /api/v2/tenants/{tenantId}/serviceRequests/categories/{uniqueId}:
    $ref: './tickets/tenants/servicesRequests/categories/uniqueId.yaml'
  /api/v2/tenants/{tenantId}/{ticketType}/slaPolicies/{id}:
    $ref: './tickets/tenants-ticketType-slaPolicies-id.yaml'
  /api/v2/tenants/{tenantId}/{ticketType}/slaPolicies/search:
    $ref: './tickets/tenants-ticketType-slaPolicies-search.yaml'
  /api/v2/tenants/{tenantId}/tasks/{taskId}/responses:
    $ref: './tickets/tenants-tasks-taskId-responses.yaml'
  /api/v2/tenants/{tenantId}/tasks/{taskId}/close:
    $ref: './tickets/tenants-tasks-taskId-close.yaml'
  /api/v2/tenants/{tenantId}/tasks:
    $ref: './tickets/tenants-tasks.yaml'
  /api/v2/tenants/{tenantId}/tasks/{taskId}/responses/{responseId}/resources/{resourceId}:
    $ref: './tickets/tenants-tasks-taskId-responses-responseId-resources-resourceId.yaml'
  /api/v2/tenants/{tenantId}/tasks/{taskId}/responses/search:
    $ref: './tickets/tenants-tasks-taskId-responses-search.yaml'
  /api/v2/tenants/{tenantId}/tasks/search:
    $ref: './tickets/tenants-tasks-search.yaml'
  /api/v2/tenants/{tenantId}/tasks/{taskId}/activitylog:
    $ref: './tickets/tenants/tasks/taskId/acitivytlog.yaml'
  /api/v2/tenants/{tenantId}/tasks/{taskId}:
    $ref: './tickets/tenants-tasks-taskId.yaml'
  /api/v2/tenants/{tenantId}/{ticketType}/{ticketId}/notes:
    $ref: './tickets/tenants-ticketType-ticketId-notes.yaml'
  /api/v2/tenants/{tenantId}/{ticketType}/{ticketId}/notes/{noteId}:
    $ref: './tickets/tenants-ticketType-ticketId-notes-noteId.yaml'
  /api/v2/tenants/{tenantId}/timeBoundRequests/{timeBoundRequestId}/activitylog:
    $ref: './tickets/tenants-timeBoundRequests-timeBoundRequestId-activitylog.yaml'
  /api/v2/tenants/{tenantId}/timeBoundRequests/{timeBountRequestId}/responses:
    $ref: './tickets/tenants-timeBoundRequests-timeBoundRequestId-responses.yaml'
  /api/v2/tenants/{tenantId}/timeBoundRequests/{timeBoundRequestId}/close:
    $ref: './tickets/tenants-timeBoundRequests-timeBoundRequestId-close.yaml'
  /api/v2/tenants/{tenantId}/timeBoundRequests:
    $ref: './tickets/tenants-timeBoundRequests.yaml'
  /api/v2/tenants/{tenantId}/timeBoundRequests/{timeBoundRequestId}/responses/{responseId}/resources/{resourceId}:
    $ref: './tickets/tenants/timeBoundRequests/timeBoundRequestId/responses/responseId/resources/resourceId.yaml'
  /api/v2/tenants/{tenantId}/timeBoundRequests/{timeBoundRequestId}:
    $ref: './tickets/tenants-timeBoundRequests-timeBoundRequestId.yaml'
  /api/v2/tenants/{tenantId}/timeBoundRequests/{timeBoundRequestId}/responses/search:
    $ref: './tickets/tenants-timeBoundRequests-timeBoundRequestId-responses-search.yaml'
  /api/v2/tenants/{tenantId}/timeBoundRequests/search:
    $ref: './tickets/tenants-timeBoundRequests-search.yaml'
  /api/v2/tenants/{tenantId}/incidents/urgencies:
    $ref: './tickets/tenants-incidents-urgencies.yaml'
  /api/v2/tenants/{tenantId}/incidents/urgencies/{uniqueId}:
    $ref: './tickets/tenants-incidents-urgencies-uniqueId.yaml'
