.page-loader {
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;

  background-color: var(--white);
}

.loading {
  margin: auto;
  height: 3em;
  width: 3em;

  animation: rotation 1.2s infinite linear;
  border: 2px solid rgba($royal-blue, 0.2);
  border-radius: 50%;
  border-top-color: rgba($royal-blue, 0.8);
  border-top-width: 3px;
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}
