summary: Custom attributes
description: This endpoint is used to update description of a custom attribute value.
post:
  tags:
    - resource-management
  requestBody:
    content:
      application/json:
        schema:
          type: object
          properties:
            description:
              type: string
        examples:
          example-1:
            value:
              description: update for description
  responses:
    '200':
      description: OK
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: integer
              value:
                type: string
              description:
                type: string
          examples:
            example-1:
              value:
                id: 400
                value: value of the custom attribute value
                description: update for description
parameters:
  - $ref: '../components-global.yaml#/components/parameters/tenantId'
  - schema:
      type: string
    in: path
    name: attributeId
    required: true
  - schema:
      type: string
    in: path
    name: valueId
    required: true
